#desktop_social{    
    height: 50px;
    margin-right: 100px;
}
#mobile_social{    
    display:none;
    height: 50px;
    margin-right: 100px;
}
  #logDiv {
    margin-top: 5px;
    height: 290px;
    padding-top: 20px;
    padding-bottom: 15px;
    width: 290px;
    border-radius: 15px;
  }
  #Namestyle {
    font-size: 20px;
    margin-top: 40px;
  }
  #err {
    font-size: 10px;
    margin-bottom: 0px;
  }
  #createNewSiteInfo {
    border: 1px solid;
    border-radius: 10px;
    margin-top: 9px;
    width: 290px;
    padding: 2px 0px 2px 0px;
  }
  #textfont {
    font-size: 13px;
  }
  #forget_password {
    font-size: 14px;
    margin-left: 90px;
    text-decoration: none;
  }
  #loot{
   margin-bottom: 30px;
}
@media (max-width: 570px) {
    #loot{
        display: none;
    }
    #favorites{
        width:98%;
    }
    #hidMe{
        display: block;
    }
 
    #additionalText{
        font-size: 15px;
    }
    #logo_div{
        display:none;
    }
    #contentHead{
        font-size: 18px;
    
    }
    
    #desktop_social{    
      display:none
    }
    #takeMe{
        display: none;
    }
    #mobile_social{    
        display:block;
        height: 50px;
        width:100%;
        padding-top: 6px;
    }
    #nav{
        background-color: white;
        box-shadow: 2px 3px 3px 3px lightgray;
    }
    #rightFloat{
        margin-left: -100px;
    
    }
    #adjust{
        width: 100%;
        margin-bottom: 20px;
    }
    #name{
        color:black;
        margin-left: 100px;
    }
    #change{
        color:white;
        display: none;
    }
    #mobile_coont{
        margin-top: 300px;
        font-size: 25px;
        color:#ffffff;
        width:100%;
      
    }

        #logo_div_mobile{
            height:40px;
            display:block;
        }
        #intro{

        display:none;
        }
        #introducing{
            color:white;
            font-size: 30px;
            margin-top:100px;
        }
    #changeBackground{
        background-image: url('../images/one.jpeg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        background-size: 100% 100%;
    }
    #container{
        background-image: url('../images/one.jpeg');
        margin-top: 15px;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        background-size: 100% 100%;

    }

} 
@media (min-width: 575px) {

    #favorites{
        width:50%;
        margin-left:25%
    }

    #logo_div_mobile{
        height:50px;
        display:none;
    }
    #mobile_social{    
        display:none;
    }
    #additionalText{
        font-size:20px;
    }
    #intro{
        color:white;
        font-size: 30px;
        margin-top:100px;
    }
    #introducing{
        color:white;
        font-size: 30px;
        margin-top:100px;
    }
    #contentHead{
        font-size: 30px;
    
    }
    #mobile_coont{
        display: none;
    }
}
  #productPrice{
     width:80%;
     margin-left: 8%;
    
     margin-top: 100px;
  } 
#productImage{
      padding: 20px 20px 20px 20px;
      border-radius: 10px;
      box-shadow: 1px 1px 1px 5px lightgrey;
     
  }
  #productContent{
    padding: 20px 20px 20px 40px;
     
  }
  #emptydiv{
      height:400px;
      padding-top: 150px;
      margin-top: 50px;
      background-color: lightblue;

  }
#Marketdiv{
    width:100%;
    height:300px;
    padding-top: 150px;
    margin-bottom: 50px;
    background-image:  url('../images/real.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
  }
  #bigPhrase{

  color: #ffffff;
  font-size: 60px;
  }
#social_div{
  
    padding-top: 5px;
    float:left;
    margin-top:10px;
    margin-left: 10px;
    align-content: center;
    border-radius:50px;
}
.establish{
    font-size: 25px;
}
#about{ 
    width:100%;
    border-radius:10px;
    margin-top:0px;
    margin-left: 0px;
    background-image:  url('../images/real.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;background-size: 100% 100%;
}
#pricingDiv{
    height: 450px;
    width: 100%;
    padding-left: 60px;
    padding-top: 200px;
    background-image:  url('../images/wall.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;

}
#us{
    color:lightgreen;
    animation-name: changeColor;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
@keyframes changeColor{
from{color:white}
to{color:green}
}
#socials{
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
    
}
#partner{
    float: left;
    margin-right: 5px;
    margin-top:10px;
}
#logo{
    height:60px;
    width:80px;
    border-radius: 50%;
    margin-left:10px;
    margin-right: -15px;
}
#rightFloat{
    float:right;
   

}
#leftFloat{
    float:left;
}
#logo_div{

    width: 300px;
    height:80px;
    margin-top: 0px;
    margin-left: 30px;
    padding:5px 5px 5px 5px;
}
#name{
    
    font-size: 20px;
    
}
#navContainer{
    height:50px;
    width: 100%;
    padding-top: 5px;
    margin-bottom: 10px;
}
#navlink{   
    margin-right:7px;
    color:black;
}
#container{
    height:400px;
    width:100%;
    border-radius:10px;
    margin-left: 0px;
    background-color:  rgba(32, 226, 65, 0.84);
}
#firstContent{
    margin-top: 60px;

}
#note{
    font-size: 15px;
    margin-left: 10px;
}
#aboutNote{
    font-size: 13px;
}
#FurtherContent{
    width:100%;
    margin-top: 100px;
    margin-left: 5px;
    margin-bottom: 50px;
    padding-top: 40px;
}
#designContent{
    height:570px;
    margin-bottom: 30px;
}
#mainDesign{
    width:90%;
    height:100%;
    background-color: white;
    margin-left: 5%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 5px rgb(227, 224, 224);
}
#greenDiv{
    height:5px;
    width:100%;
    border-radius: 400px;
    background-color: rgba(32, 226, 65, 0.84);
}
#designImage{
    height:350px;
    width:80%;
    margin-top: 25px;
    margin-left: 5%;
    
    
}
#productName{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 15px;;
    color:rgba(32, 226, 65, 0.84);

}
#cool{
    height:450px;
    width:100%;
    margin-bottom: 100px;
    animation-name: animDiv;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-x:center;
    background-position-y:center;
    animation-delay: 10s;
    background-image: url('../images/two.jpeg')
}
@keyframes animDiv{
 20%{background-image: url('../images/two.jpeg');background-repeat: no-repeat;background-size: contain;width: 100%;background-size: 100% 100%;}
 40%{background-image: url('../images/semo_one.jpg');background-repeat: no-repeat;background-size: contain;width: 100%;background-size: 100% 100%;}
 80%{background-image: url('../images/oil_four.jpg');background-repeat: no-repeat;background-size: contain;width: 100%;background-size: 100% 100%;}
 100%{background-image: url('../images/one.jpeg');background-repeat: no-repeat;background-size: contain;width: 100%;background-size: 100% 100%;}
 
}
#OtherContent{
    width:100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 100px;
    padding-bottom: 30px;
    padding-top: 80px;
    background-color: aliceblue;
    
}
#OurMission{
    height: 400px;
    padding-bottom: 50px;
}
#aboutMission{
    height: 400px;
    padding-bottom: 10px;
}
#bigText{
    font-size:40px;
    margin-top: 50px;
    margin-bottom: 50px;
}   
#newshit{
    width:100%;
    height: 720px;
    padding-top:350px;
    background-image: url('../images/one.jpeg');
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    background-size: 100% 100%;
}
#newLove{
    width: 199px;
    marginTop: 10px;
    borderRadius: 5px;

}